<% include ../_Header %>
    <p>Welcome to
        <%= title %>
    </p>
    <h2>Lista de Cerebros</h2>

    <table class="table table-striped">
        <tr>
            <th>Flavor</th>
            <th>Description</th>
            <th>Price</th>
            <th>Picture</th>
            <th>Acciones</th>

        </tr>

        <% if(coleccion)
{
coleccion.forEach(function(cerebro){
%>

            <tr>
                <td>
                    <%=cerebro.flavor %>
                </td>
                <td>
                    <%=cerebro.description %>
                </td>
                <td>
                    <%=cerebro.price %>
                </td>
                <td>
                    <img src="<%= cerebro.picture %>" style="max-width: 100px;" alt="cerebro">
                </td>
                <td>
                    <a href="/cerebros/edit/<%= cerebro.id %>"><i class="fas fa-sync" title="Editar"></i></a>
                    <a href="/cerebros/delete/<%= cerebro.id %>"><i class="fas fa-trash text-danger" title="Borrar"></i></a>
                </td>
            </tr>
            <%
});
}%>
    </table>
    <a href="/cerebros/add"><button class="btn btn-outline-success"><i class="fas fa-plus" style="margin: 5px;"></i>Agregar nuevo Cerebro</button></a>
    <% include ../_footer %>